/* RESETEO -------------------------------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY -------------------------------------------------------------------------------- */

body{
    font-family: 'Arvo';
}

/* HEADER -------------------------------------------------------------------------------- */ 
header{
    text-align: center;
    padding: 25px;
    background-color: #181818;
}

#hcontainer #home{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

header nav a{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 15px;
    color: #ffffffff;
}

header nav a:hover{
    color: #046df5;
    border-bottom: 2px solid #046df5;
    border-radius: 5px;
}

/* MAIN -------------------------------------------------------------------------------- */

/* ANCHO DEL MAIN */
main{
    width: 90%;
    margin: auto;
}

/* MAIN INDEX.HTML */
main #seccion1{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 800px;
    background: linear-gradient(#0000005b,#023196a8), url(assets/coches.jpg) no-repeat center center/cover;
    padding-bottom: 200px;
}

main #seccion1 a{
    padding: 25px;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffffff;
}

main #seccion1 a:hover {
    background-color: 	#ffffff65;
    border-radius: 50px;
}

/* MAIN P1.HTML -------------------------------------------------------------------------------- */

.vehiculos {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.caja-vehiculos {
    margin: 20px;
}

.infoV p {
    width: 350px;
    text-align: justify;
}

.vimage {
    height: 200px;
    width: 350px;  
    vertical-align: middle;
}

.vdesc {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.config{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid #181818;
    color: #181818;
    border-radius: 50px;
}

.config:hover {
    background-color: #046cf598;
}

/* MAIN CONFIGURADOR.HTML -------------------------------------------------------------------------------- */

main #config{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* FORMULARIO DE CONFIGURACION -------------------------------------------------------------------------------- */

form .cajones {
    padding: 20px;
    margin: 0 175px;
}

section#config article #configurador a, select{
    border:2px solid #181818 ;
    background-color: #ffffffff;
    padding: 10px;
    border-radius: 50px;
}

select:focus{
    outline: none;
}

section#config article #configurador a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    box-shadow: 1px 1px 5px #046df5;
}

section#config article #configurador a:hover {
    background-color: #046cf598;
    cursor: pointer;
}

form#configurador label{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* IMAGENES DEL CONFIGURADOR -------------------------------------------------------------------------------- */

main section#config article#imgconfig {
    width: 50%;
}

main #config img{
    width: 350px;
    height: 200px;
    margin: 25px 25px;
}

main section#config article img:hover{
    cursor: pointer;
}

/* P2.HTML -------------------------------------------------------------------------------- */

main#main-flex {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* CUERPO DEL MAIN -------------------------------------------------------------------------------- */

main#main-flex section{
    width: 100%;
    text-align: center;
}

/* ASIDE -------------------------------------------------------------------------------- */

.iconos {
    font-size: 50px;
}

main#main-flex aside a{
    padding: 50px;
    display: flex;
}

main#main-flex aside a{
    text-decoration: none;
}

/* FORMULARIO DE COMPRA ( P2.HTML ) -------------------------------------------------------------------------------- */

.cajapago {
    display: block;
    margin: 35px;
}

main#main-flex section#info-facturacion form#pago {
    border: 2px solid black;
    text-align: left;
    max-width: fit-content;
    margin: auto;
}


/* ESTILOS DE LOS ICONOS ( FONT AWESOME ) -------------------------------------------------------------------------------- */
.fa-tiktok {
    color: #141414;
}

.fa-twitch {
    color: #6441a5;
}

.fa-snapchat-square {
    color: #e4e135;
}

.fa-instagram {
    padding: 1px 3px;
    color: #ffffff;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    border-radius: 15px;
}

.fa-facebook-square {
    color: #0f8ff2;
}

.fa-twitter {
    color: #1c9cea;
}

/* FOOTER -------------------------------------------------------------------------------- */
footer {
    padding: 70px;
    background-color: #181818;
    color: #ffffffff;
    text-align:center
}