/* RESETEO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo';
}

/* HEADER */
header{
    text-align: center;
    padding: 25px;
    background-color: #181818;
}

#hcontainer #home{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

header nav a{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 15px;
    color: #ffffffff;
}

header nav a:hover{
    color: #046df5;
    border-bottom: 2px solid #046df5;
    border-radius: 5px;
}

/* MAIN */

/* MAIN INDEX.HTML */
main #seccion1{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 800px;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(2, 49, 150, 0.6)), url(assets/coches.jpg) no-repeat center center/cover;
    padding-bottom: 200px;
}

main #seccion1 a{
    padding: 25px;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffffff;
}

main #seccion1 a:hover {
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 50px;
}

/* MAIN P1.HTML */

.vehiculos {
    display: inline-block;
    margin: 50px 0;
    padding: 0 0 0 70px;
}

.infoV p {
    width: 350px;
    text-align: justify;
}

.vehiculos h2{
    max-width: max-content;
    border-bottom: 2px solid #181818;
}

.vimage {
    height: 200px;
    width: 350px;  
    vertical-align: middle;
}

.vdesc {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.config{
    max-width: fit-content;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid #181818;
    color: #181818;
    border-radius: 50px;
}

.config:hover {
    background-color: #046cf598;
}

/* MAIN CONFIGURADOR.HTML */

main #config{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 200px;
}

form .cajones {
    padding: 20px;
    margin: 0 50px;
}

input[type=button], select{
    border:2px solid #181818 ;
    background-color: #ffffffff;
    padding: 10px;
    border-radius: 50px;
}

input[type=button] {
    font-weight: bold;
    box-shadow: 1px 1px 5px #046df5;
}

input[type=button]:hover{
    background-color: #046cf598;
    cursor: pointer;
}

form#configurador label{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}

main #config img{
    width: 350px;
    height: 200px;
    margin: 0 50px;
}


/* FOOTER */
footer {
    padding: 70px;
    background-color: #181818;
    color: #ffffffff;
    text-align:center
}